table {
    border: 1px solid silver;
}
td:hover {
    background-color: green;
    color: black;
}

tr, th {
    background-color: black;
    color: cornsilk;
}

tr, td {
    background-color: lightgreen;
    color: black;
}

